.section-lista {
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  color: #000;
  position: relative;
}
.section-lista h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.section-lista p {
  overflow: hidden;
}

.edit {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

/* || Efeito dos botões */
.nav-14 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 30px #0000004d;
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  transition: width 0.6s linear;
  z-index: 10;
  position: fixed;
}
.nav-14.active {
  width: 2rem;
}

.nav-14 ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 0;
  transition: width 0.6s linear;
  visibility: hidden;
}
.nav-14.active ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 8rem;
  width: 100%;
  visibility: visible;
}
.nav-14 ul li {
  transform: rotateY(0deg);
  opacity: 0;
  transition: transform 0.6s linear, opacity 0.6s linear;
  background-color: #9bf2fe;
  border-radius: var(--border-radius);
  height: 2rem;
  width: 8rem;
  transition: all 0.3s ease;
  box-shadow: 0 2px 30px #0000004d;
}
.nav-14 ul li:hover {
  transform: scale(1.08);
  box-shadow: 0 1px 10px 1px #9bf2fe;
}
.nav-14.active ul li {
  opacity: 1;
  transform: rotateY(360deg);
}
.nav-14 button {
  background-color: #fff;
  cursor: pointer;
  position: relative;
  height: 3rem;
  width: 3rem;
}
.nav-14.active button {
  transform: rotate(-765deg) translateX(5.5px);
}
