.container-notification {
  position: fixed;
  top: 4.5rem;
  right: 2rem;
  z-index: 2000;

  border-radius: var(--border-radius);
  font-size: 1.8rem;
  font-weight: bold;
  color: #00ffea;

  width: fit-content;
  min-width: 22rem;
  height: 5rem;
  padding: 0.5rem;
  padding: 0 2rem;
  background-color: #7f09b68a;
  border-bottom: 2px solid #9bf2fe;
  backdrop-filter: blur(4px);
  cursor: pointer;
  text-transform: uppercase;

  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  align-items: center;
  justify-content: center;

  transform: translatey(1000px);
  transition: all 0.8s ease;
  opacity: 0;
}
.container-notification.active {
  transform: translatey(0px);
  opacity: 1;
}
.container-notification.no-active {
  transform: translatex(-1000px);
  opacity: 0;
}
