@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap");

* {
  outline: 1px solid #ff00008a;
}
/* #root {
  height: 100%;
  height: fit-content;
} */
:root {
  --border-radius: 2rem;
  --border-radius-plus: 2.5rem;

  --header-color-light: #e8e8e8;
  --header-title-light: #14213d;
  --header-shadow-light: #4ca5d9;
  --container-bkg-light: #f9fafb;
}

#root {
  font-family: "Lato", sans-serif;
}

/* || Scroll */
* {
  scrollbar-width: thin;
  scrollbar-color: #9bf2fe #070d12;
}
/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
  background-color: #9bf2fe;
  border-radius: 20px;
  border: 2px solid #070d12;
}

@media (max-width: 800px) {
  .hidden {
    visibility: auto;
  }
}
