@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap");

/* * {
  outline: 1px solid #ff00008a;
} */

:root {
  --border-radius: 2rem;
  --border-radius-plus: 2.5rem;

  --white-color: #fff;
  --primary-color: #9bf2fe;
  --secondary-color: #7f09b6;

  --text-color-primary: #00ffea;

  --container-bkg-color: #9bf2fe71;
}

#root {
  font-family: "Lato", sans-serif;
}

/* || Scroll */
* {
  scrollbar-width: thin;
  scrollbar-color: #9bf2fe #070d12;
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
  background-color: #9bf2fe;
  border-radius: 20px;
  border: 2px solid #070d12;
}
